@{
    ViewBag.Title = "关于乐宝宝小儿推拿";
}
<div class="container col-lg-8 col-lg-offset-2">
    
    <div class="panel panel-default about-panel">
        <div class="panel-heading">关于乐宝宝小儿推拿</div>
        <div class="panel-body">
            <p>乐宝宝小儿推拿，根据现代小儿脏腑娇嫩，形气未充，脏腑功能相对较弱，生病易阳易实的生理特点，以特殊的手法对特定的穴位进行推、拿、按、摩、掐、揉、达到治病保健的作用。</p>
            <p>宝宝们身体的各个器官还处在发育时期，生病了过度的依靠药物带来的副作用会影响宝宝的身体健康发育（例如使用一次抗生素孩子8天不长）。小儿推拿是通过刺激宝宝不同的穴位来治疗不同的常见病症的，所以完全就不存在这个毒副作用的问题，它不仅仅效果显著，费用实惠，也不会让宝宝觉得很难受痛苦。小儿推拿可以治疗广泛的小儿疾病，比如小儿感冒，发烧，流鼻涕，咳嗽，腹泻，肚胀，食积，厌食，夜啼，发育迟缓，免疫力差等都可以使用小儿按摩来帮助调理</p>
            <p>小儿推拿这种新型的治疗方式，可以从源头调理好宝宝的身体，提高宝宝自身的免疫力，小儿推拿，有奇效。</p>
        </div>
    </div>
</div>


