@{
    ViewBag.Title = "联系我们";
}
<div class="container  col-lg-8 col-lg-offset-2">

    <div class="panel panel-default about-panel">
        <div class="panel-heading">联系我们</div>
        <div class="panel-body">
            <address>
                <strong>地址一：</strong>罗一家属院2号楼2单元3号（仅限上午）<br>
                <strong>地址二：</strong>阿尔卡迪亚蓝天城15号楼2单元3号（仅限下午）<br>
                <abbr title="手机">手机(微信同号):</abbr>18348728262<br>
                <abbr title="QQ">QQ:</abbr>447950162
            </address>
        </div>
    </div>
</div>