@{
    ViewBag.Title = "首页";
}
@section styles
{
    <link href="~/Content/carousel.css" rel="stylesheet" />
}
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<!-- Three columns of text below the carousel -->
<div class="row index-info">
    <div class="col-lg-4">
        <img class="img-circle" src="~/Content/images/baobao1.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>乐</h2>
        <p> 乐宝宝小儿推拿，根据现代小儿脏腑娇嫩，形气未充，脏腑功能相对较弱，生病易阳易实的生理特点，以特殊的手法对特定的穴位进行推、拿、按、摩、掐、揉、达到治病保健的作用。 宝宝们身体的各个器官还处在发育时期，生病了过度的依靠药物带来的副作用会影响宝宝的身体健康发育（例如使用一次抗生素孩子8天不长）。</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="img-circle" src="~/Content/images/baobao3.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>宝</h2>
        <p> 小儿推拿这种新型的治疗方式，可以从源头调理好宝宝的身体，提高宝宝自身的免疫力，小儿推拿，有奇效。 </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="img-circle" src="~/Content/images/baobao2.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>宝</h2>
        <p>小儿推拿是通过刺激宝宝不同的穴位来治疗不同的常见病症的，所以完全就不存在这个毒副作用的问题，它不仅仅效果显著，费用实惠，也不会让宝宝觉得很难受痛苦。小儿推拿可以治疗广泛的小儿疾病，比如小儿感冒，发烧，流鼻涕，咳嗽，腹泻，肚胀，食积，厌食，夜啼，发育迟缓，免疫力差等都可以使用小儿按摩来帮助调理。</p>
    </div><!-- /.col-lg-4 -->

</div><!-- /.row -->
<!-- START THE FEATURETTES -->

<div class="page-header">
    <h1>小儿推拿可以起到什么作用？</h1>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">1、提高小儿机体各项功能</h2>
        <p class="lead">穴位与经络的治疗功能，已被现代临床医学所证实。穴位即为经络上的最重要点，通过刺激穴位，就可以起到调整经络气血、阴阳平衡的作用。正气自然充足，正气存内，则邪不可干，也就是抵抗力增强，得病的机会相应减少。大量的临床实践证明，小儿推拿确有增强免疫功能的作用，同时，小儿推拿还可以使小儿气血充盈，饮食不偏，食欲旺盛、发育正常等。</p>
    </div>
    <div class="col-md-5">
        <img class="img-responsive img-circle" data-src="" src="/Content/images/baobao4.jpg" alt="Generic placeholder image">
    </div>
</div>

<hr class="">

<div class="row featurette">
    <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">2、缓解、解除小儿病痛</h2>
        <p class="lead">如果小儿有病，推拿小儿身体的某一部位或穴位，通过经络的联系，使其体内相应的脏腑产生相应的生理变化，从而达到治疗疾病的作用。小儿推拿治疗范围很广，可以对小儿感冒、发热、咳嗽、腹泻、腹痛、便秘、厌食、哮喘、滞颐(流口水)、疳积（营养不良）、夜啼、遗尿、近视、肌性斜颈等常见病有良好的治疗效果。</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
        <img class="img-responsive img-circle" data-src="holder.js/500x500/auto" src="~/Content/images/baobao5.jpg" alt="Generic placeholder image">
    </div>
</div>

<hr class="">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">3、未病先防，提高小儿对疾病的抵抗力</h2>
        <p class="lead">
            小儿推拿对小儿强身防病的功能，主要体现在两个方面：
        </p><p class="lead">
            A) 未病先防：通过小儿推拿，使小儿气血调和，经络通畅、阴阳平衡、正气充足，因此可以起到让孩子不得病、少得病的功效。
        </p>
        <p class="lead">
            B) 防病传变：小儿得病后传变较快，易发生危急状态，小儿推拿可以起到预防发病、防止传变以及发生危急病症的作用。
        </p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive img-circle" data-src="holder.js/500x500/auto" src="~/Content/images/baobao11.jpg" alt="Generic placeholder image">
    </div>
</div>
<div class="page-header">
    <h1>小儿推拿有哪些主要特点？</h1>
</div>


<div class="row featurette">
    <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">1、见效快、疗效高</h2>
        <p class="lead">临床证明，小儿推拿对小儿常见病、多发病都有较好的疗效，尤其对于消化系统疾病效果更佳。对许多慢性病、疑难病也有比较好的疗效。</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive img-circle" data-src="holder.js/500x500/auto" src="~/Content/images/baobao6.jpg" alt="Generic placeholder image">
    </div>
</div>

<hr class="">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">2、安全稳当、不易反弹</h2>
        <p class="lead">
            只要对疾病诊断正确，依照小儿推拿的操作方法合理进行施治，一般不会出现危险或不安全问题。应用小儿推拿疗法治疗疾病，不会出现反弹及任何并发症。可以说，小儿推拿在正确操作的前提下，安全、无任何毒副作用。
        </p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive img-circle" data-src="holder.js/500x500/auto" src="~/Content/images/baobao7.jpg" alt="Generic placeholder image">
    </div>
</div>

<hr class="">

<div class="row featurette">
    <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">3、没有毒副作用，利于疾病康复</h2>
        <p class="lead">小儿推拿是一种单纯的手工理疗手法，治疗中避免了某些药物中的不良反应或毒性反应，同时也纠正了药物中因剂量不适而对患儿身体所引起的不良反应或危害，是一种有利无害的治疗方法，完全符合当今医学界推崇的“无创伤医学”和“自然疗法”的要求。</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive img-circle" data-src="holder.js/500x500/auto" src="~/Content/images/baobao8.jpg" alt="Generic placeholder image">
    </div>
</div>

<hr class="">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">4、治病去根，不易复发</h2>
        <p class="lead">
            慢性病复发的根本原因在于疾病所涉及脏腑或气血功能下降。推拿疗法根据中医基本理论，对于易反复发作的慢性病，都可以针对病因，通过手法施术，加强气血循环，恢复其脏腑功能，所以能达到治病去根的目的；对于急性病，本来其机体功能就没有多大损失，又加之按摩过程注意了功能的调治，更不会遗留病根；反复发作病症，可因人体素质的调补减少再发机会。小儿推拿网提示：对于身体虚弱者，不仅可以治愈已发疾病，同时也提高了免疫功能及健康素质。
        </p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive img-circle" data-src="holder.js/500x500/auto" src="~/Content/images/baobao9.jpg" alt="Generic placeholder image">
    </div>
</div>

<hr class="">

<div class="row featurette">
    <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">5、小儿不受痛苦，易于接受</h2>
        <p class="lead">儿童生病，应用其他疗法时，小儿都要遭受痛苦，就是服药，小儿也难以接受，经常给疾病治疗带来麻烦；同时，常因小儿不能和医生配合而影响疗效。应用小儿推拿疗法，小儿不会有任何痛苦感，甚至感到是一种享受，能够消除小儿在疾病治疗过程中的恐惧心理。</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive img-circle" data-src="holder.js/500x500/auto" src="~/Content/images/baobao10.jpg" alt="Generic placeholder image">
    </div>
</div>

<hr class="">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">6、预防保健</h2>
        <p class="lead">
            小儿推拿除了有良好的儿童常见病治疗效果外，还有非常好的保健效果。经常给孩子做保健推拿，可以增强小儿体质、提高小儿的抗病能力，。
        </p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive img-circle" data-src="holder.js/500x500/auto" src="~/Content/images/baobao12.jpg" alt="Generic placeholder image">
    </div>
</div>
