@model LebaobaoComponents.Domains.Users
@{
    ViewBag.Title = "充值";
}

<div class="x-body">
    <form class="layui-form">
        <input type="hidden" name="userid" value="@Model.Id" />

        <div class="layui-form-item">
            <label for="L_childname" class="layui-form-label">
                <span class="x-red"></span>孩子姓名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_childname" name="childname" required="" lay-verify="nikename"
                       autocomplete="off" class="layui-input" readonly value="@Model.ChildName">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_money" class="layui-form-label">
                <span class="x-red"></span>充值金额
            </label>
            <div class="layui-input-inline">
                <input type="number" id="L_money" name="money" required="" lay-verify="nikename"
                       autocomplete="off" class="layui-input" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_canusercount" class="layui-form-label">
                <span class="x-red"></span>充值次数
            </label>
            <div class="layui-input-inline">
                <input type="number" id="L_canusercount" name="canusecount" required="" lay-verify="nikename"
                       autocomplete="off" class="layui-input" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_username" class="layui-form-label">
                <span class="x-red"></span>充值类别
            </label>
            <div class="layui-input-inline">
                <select id="ordertype" name="ordertype">
                    <option value="">请选择</option>
                    <option value="0">推拿</option>
                    <option value="1">保健</option>
                </select>
                <div class="layui-unselect layui-form-select">
                    <div class="layui-select-title">
                        <input type="text" placeholder="订单状态" value="" readonly="" class="layui-input layui-unselect">
                        <i class="layui-edge"></i>
                    </div>
                    <dl class="layui-anim layui-anim-upbit" style="">
                        <dd lay-value="" class="layui-select-tips">请选择</dd>
                        <dd lay-value="0" class="">推拿</dd>
                        <dd lay-value="1" class="">保健</dd>
                    </dl>
                </div>
            </div>
            @*<div class="layui-input-inline">
                <input type="text" id="L_username" name="type" required="" lay-verify="nikename"
                       autocomplete="off" class="layui-input" readonly value="推拿">
            </div>*@
        </div>
        <div class="layui-form-item">
            <label for="L_paymethod" class="layui-form-label">
                <span class="x-red"></span>支付方式
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_paymethod" name="paymethod" required="" lay-verify="nikename"
                       autocomplete="off" class="layui-input" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button class="layui-btn" lay-filter="add" lay-submit="">
                充值
            </button>
        </div>
    </form>
</div>
<script>
    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer;

        //自定义验证规则
        form.verify({
            //nikename: function(value){
            //    if(value.length < 5){
            //        return '昵称至少得5个字符啊';
            //    }
            //}
            //,pass: [/(.+){6,12}$/, '密码必须6到12位']
            //,repass: function(value){
            //    if($('#L_pass').val()!=$('#L_repass').val()){
            //        return '两次密码不一致';
            //    }
            //}
        });

        //监听提交
        form.on('submit(add)', function (data) {
            console.log(data.field);
            //发异步，把数据提交给php
            $.ajax({
                url: '/user/charge/',
                type: 'POST',
                data: data.field,
                dataType: 'json',
                error: function () {
                    alert('error');
                },
                success: function (obj) {
                    if (obj.success) {
                        layer.alert("充值成功", { icon: 6 }, function () {
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);
                            window.parent.location.reload();
                        });
                    } else {
                        layer.alert("充值失败："+obj.msg, { icon: 6 }, function () {
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);
                            window.parent.location.reload();
                        });
                    }
                }
            });

            return false;
        });


    });
</script>
<script>
    var _hmt = _hmt || []; (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();</script>
