
@{
    ViewBag.Title = "会员管理";

}<!-- 顶部开始 -->
<div class="container">
    <div class="logo"><a href="./index.html">www.hdlebaobao.cn</a></div>
    <div class="left_open">
        <i title="展开左侧栏" class="iconfont">&#xe699;</i>
    </div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            @Session["admin"]
        </li>
        <li class="layui-nav-item to-index"><a href="/">退出登录</a></li>
    </ul>

</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>

                <ul>
                    <li>
                        <a _href="/user/userlist">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>会员列表</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="/user/userstop">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>已禁用会员</cite>
                        </a>
                    </li>

                    <li>
                        <a _href="/user/userlevel">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>会员类别管理</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="/order/index">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>到访记录</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="/user/chargelist">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>充值记录</cite>
                        </a>
                    </li>
                    @*<li>
                            <a _href="/user/userdel">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>回收站</cite>
                            </a>
                        </li>*@
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li>会员列表</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='/user/userlist' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="page-content-bg"></div>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
<!-- 底部开始 -->
<div class="footer">
    <div class="copyright">Copyright ©@DateTime.Now.Year All Rights Reserved</div>
</div>
<!-- 底部结束 -->
