body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.menua,
.menua:hover,
.menua:focus {
    color: #555555;
    background-color: #e7e7e7;
}
/*段落缩进*/
p {
    text-indent: 2em;
}
/*关于乐宝宝小儿推拿*/
.about-panel {
    margin-top: 100px;
}
/*footer置于底部，内容不足时兼容*/
html, body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    margin-bottom: -100px;
}

    .wrap:after {
        content: "";
        display: block;
    }

    .footer, .wrap:after {
        height: 100px;
    }

.footer {
    text-align: center;
}
/*首页*/
.index-info {
    margin-top: 20px
}
/*育儿宝典*/
.yuerbaodian-soon {
    color: #777777;
    margin-top: 200px
}